PGHOST=localhost
PGPORT=5432
PGDATABASE=trading_platform
PGUSER=postgres
PGPASSWORD=postgres
PSQL_BIN=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=trading_platform
POSTGRES_PORT=5432

FAUXNANCE_API_KEY=fnx_dev_52KrPRXdxfUIavsuPCwEr7lOrb4QPUYv
FAUXNANCE_BASE_URL=https://y4t9nq2bqf.execute-api.eu-west-2.amazonaws.com/v1
